{% extends 'base.html.twig' %}

{% block title %}Nouveau chaton{% endblock %}

{% block body %}
    <h1>Ajouter un chaton</h1>

    {{ include('chatons/_form.html.twig') }}

    <a href="{{ path('app_chatons_index') }}" class="btn btn-dark">Revenir à la liste</a>
{% endblock %}
